<html>
    <head>
        <title>
            Home 
        </title>
        <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    </head>
    <body>
        <h1>
            Home | Hello '{{ current_user.username }}'
        </h1>
        <p>
            <h3>Current users:</h3>
            <ul>
                {% for user in users %}<li>{{ user.username }} - {{ user.email }} 
                    {% if user.username != "user" %}
                    <form action="/delete-user/{{ user.id }}" method="POST" style="display:inline;">
                        <button type="submit" style="background:none; border:none; color:blue; text-decoration:underline; cursor:pointer;">
                            Delete
                        </button>
                    {% endif %}
</form></li>{% endfor %}
            </ul>
        </p>
        <form action="/add-user" id="submitAddUser" class="ajax-form" method="post">
            <label for="uname">Username:</label><br>
            <input type="text" id="uname" name="uname" ><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" ><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <label for="password-confirm">Password Confirmation:</label><br>
            <input type="password" id="password-confirm" name="password-confirm"><br><br>
            <input type="submit" value="Submit">
        </form>
        <br><br>
        <form action="/logout" id="logoutButton" class="ajax-form" method="post">
            <input type="submit" value="Logout">
        </form>

    </body>

</html>